.header {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: blueviolet;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;
}
