.sidenav {
  /* background-color: #cceddb; */
  background-color: #afcebd;
  background: linear-gradient(
    180deg,
    rgba(204, 237, 219, 1) 20%,
    rgba(175, 206, 189, 1) 60%,
    rgba(119, 168, 141, 1) 100%
  );

  width: 200px;
}

.sidenav a {
  color: #1f2522;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: #fff;
}
