<h2 mat-dialog-title>Baixar Despesa</h2>
<mat-dialog-content>
  <h3>{{data.name}}</h3>

  Selecione a data da baixa.
  <form>
    <mat-form-field>
      <mat-label>Data de Recebimento</mat-label>
      <input matInput [(ngModel)]="data.payDate" [matDatepicker]="pickerPayDate" name="payDate" required>
      <mat-datepicker-toggle matIconSuffix [for]="pickerPayDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerPayDate></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial (click)="updatePayDate()" [disabled]="!data.payDate">Baixar</button>
</mat-dialog-actions>